<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/home.css">
    <title>Data visualization - Plotly</title>
</head>
<body>
    <div class="main">
        <h1>
            Ciao! 
        </h1>
        <h2>Carica un file .dat (GRIMM) o .xlsx (FMPS) per visualizzare i grafici</h2>
    </div>
    
    <hr>
    <form method="post" enctype="multipart/form-data">
        <label><input type="file" name="file" id="select"></label>
        <input id='browse' type='file' style='width:0px'>
        <input type="submit" id="btn" value="Submit">
    </form>
</body>
</html>

